@model IEnumerable<F2022A6DS.Models.GenreBaseViewModel>

@{
    ViewBag.Title = "Genres";
}

<h2>All Genres</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
