@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - Danish Sharma</h1>
    <p class="lead">
        The WEB524 Assignment 6 is to build an app to serve the needs of companies in the music business. I have produced an app that will enable a record label to manage their artists, albums, and tracks. Also this app will now allow richer data handling.
    </p>
    <p><a href="https://dsharma115-wa-web524-a6.azurewebsites.net" class="btn btn-primary btn-lg"> Assignment 6 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>Navigation links provided in the navigation bar will help you to use the application.</p>
        <p>Please note that before you can use the application, you will need to login in with some role-claims added to your account.</p>
    </div>
    <div class="col-md-4">
        <h2>Joke</h2>
        <p>To be honest, I am running out of jokes, so here we go again... *Knock* *Knock*</p>
    </div>
</div>